.Rproj.user
.Rhistory
.RData
_publish.R
_book
_bookdown_files
_latex
data
rsconnect
*.utf8.md
# [0-9]*.md
_main*
_main_pre_index.tex
assets/contributing/case_study_template.pdf
assets/contributing/case_study_template.docx
*.blg
*.bbl
*.aux
*.lot
*.lof
*.log
*.ilg
*.idx
*.ind
*.toc
