.Rproj.user
.Rhistory
.RData
_publish.R
_book
_bookdown_files
data
figures
rsconnect
*.utf8.md
[0-9]*.md
_main*
assets/contributing/case_study_template.pdf
assets/contributing/case_study_template.docx
*.blg
*.bbl
*.aux
*.lot
*.lof
*.log
*.ilg
*.idx
*.ind
*.toc
