.page-inner::before{
    content: " You are viewing a preliminary version of the Handbook. Some chapters may still be subject to copyediting, typesetting, pagination and proofreading. There may be differences between this version and the version of record when it is released.";
    display: inline-block;
    color: steelblue;
    font-size: 14px;
    /* text-align: center; */
    position: absolute;
    left: 20%;
    right: 20%;
    /*-webkit-transform: rotate(30deg);
    -moz-transform: rotate(30deg);
    -o-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    transform: rotate(30deg);*/
    opacity:0.3;
}
