p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}

/* from https://stackoverflow.com/questions/36293511/creating-custom-blocks-in-rstudios-bookdown */

.rmdcomment {
  padding: 1em 1em 1em 4em;
  margin-bottom: 10px;
  background: #f5f5f5;
  position:relative;
}

.rmdcomment:before {
    content: "\f075";
    font-family: FontAwesome;
    left:10px;
    position:absolute;
    font-size: 45px;
 }

 .rmdwarning {
  padding: 1em 1em 1em 4em;
  margin-bottom: 10px;
  background: #f8afaf;
  position:relative;
}

.rmdwarning:before {
  content: "\f071";
  font-family: FontAwesome;
  left:10px;
  position:absolute;
  font-size: 45px;
}

/* used for boxes within text */

.bbox {
  padding: 1em;
  background-color: #fafafa;
  color: black;
  border: 2px solid;
  border-color: #1e2d56;
  border-radius: 10px;
}

.bboxfix {
  padding: 1em;
  background-color: #fafafa;
  color: black;
  border: 2px solid;
  border-color: #1e2d56;
  border-radius: 10px;
}


/* used to add invisible data elements */



.invisible, #invisible {
  display: none;
}

.indentforeword {
    margin-left: 2em;
    margin-right: 2em;
}


/* used for citations */
#myCitation {
  display: none;
  padding: 1em;
  background-color: #f4f4f4;
  color: black;
}

#citationDate {
background-color: #f8afaf;
}

#citationLink {
    margin-bottom: 1em;
}
