/* CSS for online HTML only */

/* used for citations */
#myCitation {
    display: none;
    padding: 1em;
    background-color: #f4f4f4;
    color: black;
  }
  
  #citationDate {
  background-color: #f8afaf;
  }
  
  #citationLink {
      margin-bottom: 1em;
  }
  
  /* used for copyright notice in TOC */
  
  .copyright {
    font-size: 10px;
  }
  